.styles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  justify-items: center;
  grid-row-gap: 2rem;
}

.styles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.style-title {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.selected-style {
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.style-title-container {
  display: flex;
  gap: 1.5rem;
}