.modal-container {
  /* position: "fixed";
  top: "50%";
  left: "50%", */
  /* transform: "translate(-50%, -50%)",
  backgroundColor: "#02075d",
  padding: "50px",
  zIndex: 1000, */
  background-color: rebeccapurple;
}
