.photo-button {
  background: none;
  border: none;
}

.photo-button:hover {
  cursor: pointer;
}

.thumbnail {
  width: "50px";
  height: "50px";
  display: inline;
}

img.full-photo {
  background-size: 100% auto;
}
