.review-container {
  /* display: grid; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  border: solid 2px #fff;
}

.breakdown-reviewlist {
  display: flex;
  justify-content: space-between;
}
