.review-container {
  /* display: grid; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: 100px;
}

.breakdown-reviewList {
  width: 100%;
  display: flex;
}

.submit-review {
  position: absolute;
  left: 0px;
  bottom: 10px;
  color: white;
  background: none;
  padding: 20px;
  margin: 10px 10px 10px 0;
  font-size: 15px;
  width: 250px;
  height: 70px;
  border: solid white 1px;
}

.button-container {
  width: 100%;
  height: 100px;
}

/* .rating-header {
  align-items: left;
} */

.title-container {
  display: flex;
  justify-content: flex-start;
}