.add-a-question {
  color: black;
}

.question-search-bar {
  width: 1000px;
  padding: 10px;
  margin-bottom: 15px;
}

.large-style-button {
  color: white;
  background: none;
  padding: 20px;
  margin: 10px 10px 10px 0;
  font-size: 15px;
  width: 250px;
  height: 70px;
  border: solid white 1px;
  // border-radius: 10px;
}

.large-style-button:hover {
  cursor: pointer;
}

.search-bar {
  position: relative;
}

.search-glass {
  font-size: 2rem;
  position: absolute;
  right: 10px;
  top: 10px;
  color: black;
}
