.add-a-question {
  color: black;
}

.question-search-bar {
  width: 900px;
  padding: 10px;
  margin-bottom: 15px;
}

.large-style-button {
  color: white;
  background: none;
  padding: 20px;
  margin: 10px;
  font-size: 15px;
  width: 250px;
  height: 70px;
  border: solid white 1px;
  border-radius: 10px;
}

.large-style-button:hover {
  cursor: pointer;
}
