@mixin spacing() {
  letter-spacing: .5px;
}

@mixin bttn() {
  @include spacing;
  background: none;
  border: none;
  color: white;
  font-size: 13px;
  margin-right: .5rem;
}

@mixin header() {
  font-size: 15px;
  display: inline-block;
  margin-right: 20rem;
  margin-top: 15px;
  padding: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.top-question-line {
  position: relative;
}

.question-buttons {
  position: absolute;
  right: 0;
  top: 15px;
}

.no-answer-body {
  @include spacing;
  display: inline-block;
  font-size: 13px;
  // border-radius: 10px;
  padding: 10px;
  padding-bottom: 4px;
  padding-top: 1px;
}

.load-questions-button {
  @include bttn;
  font-weight: 550;
  padding-top: 2px;
}

.load-questions-button:hover {
  cursor: pointer;
}

.divider {
  font-size: 15px;
  font-weight: 500;
  margin-right: .5rem;
}

div.add-an-answer {
  color: black;
}

div.individual-question {
  border-style: solid white;
  margin-bottom: 40px;
}

span.highlight {
  background-color: yellow;
  color: black;
}

h3.question-header {
  @include header;
  @include spacing;
}

.question-helpful {
  display: inline;
}

.question-helpful-text {
  @include spacing;
  display: inline;
  margin-left: 1px;
  font-size: 13px;
}

.question-helpful-button {
  @include bttn;
}

.question-helpful-button:hover {
  cursor: pointer;
}

.question-helpful-button-clicked {
  @include bttn;
}

.question-report-button {
  @include bttn;
}

.question-report-button:hover {
  cursor: pointer;
}

.question-add-answer-button {
  @include bttn;
  margin: auto;
}

.question-add-answer-button:hover {
  cursor: pointer;
}