.addbutton {
  /* border: solid 2px white;
  position: relative;
  width: 21%;
  height: 300px;
  background: white; */
}

.alloutfitcards{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0 40px;
  position: relative;
}

.individualCard {
  border: solid 2px white;
  position: relative;
  width: 21%;
  height: 300px;
  display: flex;
  align-items: flex-end;
}

.contents{
  padding-left: 10px;
  padding-bottom: 10px;
}

.closeButton {
  border: none;
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 25px;
  /* color: gold; */
}

.image {
  object-fit: cover;
  width: 170px;
  height: 170px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}