.addbutton {
  border: solid 2px white;
  position: relative;
  /* width: 202px; */
  width: 21%;
  height: 300px;
  background: lightgray;
  text-decoration-color: brown;
}

.theactualaddbutton {
  color: white;
  margin-left: 40px;
  margin-top: 55px;
  height: 150px;
}

.theactualaddbutton:hover {
  cursor: pointer;
}

.addbuttonmessage {
  display: none;
}

.theactualaddbutton:hover+.addbuttonmessage {
  display: block;
  color: rgb(69, 67, 67);
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  background-color: whitesmoke;
}

.contents {
  padding-left: 10px;
  padding-bottom: 10px;
}

.closeButton {
  border: none;
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 25px;
  /* color: gold; */
}

.image {
  object-fit: cover;
  width: 170px;
  height: 170px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.outfitcontainer {
  display: flex;
  padding-left: 60px;
  justify-content: flex-start;
  gap: 30px;
  width: 950px;
}

.main-outfit-container {
  padding-bottom: 100px;
}

.alloutfitcards {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0 40px;
  position: relative;
  /* display: inline-block; */
}


.individualOutfitCard {
  border: solid 2px white;
  position: relative;
  width: 21%;
  height: 300px;
  display: flex;
  align-items: flex-end;
}