.img-thumbnail-container {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.5rem 0;
  overflow: hidden;
  box-shadow: 2px 2px 4px #000;
}

.selected {
  border-top: 0.3rem solid #fff;
  border-bottom: 0.3rem solid #fff;
}

.img-thumbnail {
  max-width: 100%;
  background-image: cover;
}

.img-thumbnail:hover {
  cursor: pointer;
}