.missing-image-message {
  width: 4rem;
  height: 4rem;
  font-size: 8px;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: #fff;

}

.missing-image-container {
  width: 4.5rem;
  height: 4.5rem;
  position: relative;
}

.missing-image-icon {
  font-size: 4rem;
  position: absolute;
  top: 0;
  color: red;
}

.style-selector {
  font-size: 1.4rem;
  top: 0;
  right: 0;
  position: absolute;
}

.missing-image-message.big {
  width: 20rem;
  height: 20rem;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: #fff;

}

.missing-image-container.big {
  width: 30rem;
  height: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
}