@mixin header() {
  font-size: 15px;
  display: inline;
  // margin-right: 20rem;
  margin-top: 15px;
}

@mixin spacing() {
  letter-spacing: .5px;
}

@mixin bttn() {
  @include spacing;
  background: none;
  border: none;
  color: white;
  font-size: 12px;
  margin-right: .5rem;
}

.answer-header {
  @include header;
}

.divider {
  font-size: 15px;
  font-weight: 500;
  margin-right: .5rem;
}

.answer-block {
  border: solid white 1px;
  padding: 10px;
  margin-bottom: 5px;
}

.review-photos {
  height: 45px;
  width: 45px;
  display: inline-block;
}

.answer-body {
  @include spacing;
  display: inline;
  font-size: 13px;
}

.answerer-text {
  @include spacing;
  display: inline;
  font-size: 12px;
  margin-right: .9rem;
}

.bottom-of-answer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.answer-helpful {
  @include bttn;
}

.answer-helpful:hover {
  cursor: pointer;
}

.answer-helpful-clicked {
  @include bttn;
}

.answer-report {
  @include bttn;
}

.answer-report:hover {
  cursor: pointer;
}

ul.thumbnails {
  display: flex;
  list-style: none;
  gap: 5px;
  padding-left: 5px;
}