div.img-modal {
  background: none;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
}

.qa-img-modal-main {
  position:fixed;
  width: auto;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.img-display-block {
  display: block;
}

.qa-img-display-none {
  display: none;
}