.reviewlist-container {
  background-color: red;
  width: 100%;
}

.sort-container {
}

.review-list {
  text-align: center;
}

.review-body {
  font-weight: bold;
  font-size: large;
}

.reviewer-name {
  text-align: justify;
}
