
body {
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  color: #f1f1f1;
}

h1 {
  font-family: 'Prototype Regular';
}

.container {
  display: flex;
  gap: 10px;

}

.overview{
  flex-direction: column;
  border: solid 2px #fff;
  align-items: center;
}

.preferences{
  flex-direction: column;
  align-items: center;
  background-color: #444;
}

.variable{
  gap: 10px
}

.image-gallery {
  background-color: #444;
}

.product-slogan {
  background-color: #444;
}

.social-media {
  background-color: #444;

}