.related-modal {
  position: fixed;
  background: white;
  width: 40%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: inset;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  justify-content: center;
  padding-bottom: 5px;
}

.comparingtitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  padding-left: 90%;
}

.modal-body {
  padding: 10px 15px;
}

.column1 {
  float: left;
}

.column2 {
  display: inline-block
}

.column3 {
  display: inline-block;

}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.button {
  position: fixed;
}