html {
  font-size: 62.5%;
}
.individualCard{
  border: solid 2px black;
}
.relatedProducts{
  width: 100%;
  align-items: center;
  display:table-cell
}

.relatedButton {
  border: none;
  padding: none;
  margin: 0;
  padding: 0;
  background: none;
  width: 10px;
  height: 10px;
  display:inline-block;
  position:relative;
  transform: translate(-50%, -50%);
}

.relatedCard{
  display: grid;
  background-color:white;
  color: brown;
  justify-content: center;
  align-content: center;
  gap: 2px;
  grid-auto-flow: column;
}

.relatedImage {
  width: 80%;
}

/* Below are css for modal comparison */

* {
  box-sizing: border-box;
}

.modal_container {
  opacity: 0;
  pointer-events: none;
}

.modal_container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: yellowgreen;
}