.img-thumbnail-container {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 0.9rem;
  overflow: hidden;
  box-shadow: 2px 2px 4px #000;
}

.selected {
  border-bottom: 0.3rem solid #000;
  width: 4.5rem;
  height: 4.5rem;
}

.img-thumbnail {
  max-width: 100%;
  background-image: cover;
}