.image-gallery {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.thumbnail-list {
  padding: 2rem;
}