html {
  font-size: 62.5%;
}

body {
  margin: 10rem;
  padding: 0;
  background-color: #1f1f1f;
  color: #f1f1f1;
}


.overview-container{
  display: grid;
  grid-template-columns: 5fr 2fr;
  border: solid 2px #fff;
  align-items: center;
  gap: 1rem;
}

.preferences-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.image-gallery-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  height: 50rem;
  width: 100%
}
.product-info{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  margin: auto;
  height: 33%;
  width: 100%;
}
.styles{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  margin: auto;
  height: 33%;
  width: 100%;

}
.add-to-cart{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  margin: auto;
  height: 33%;
  width: 100%;

}
.product-slogan-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: tan;
  margin: auto;
  height: 100%;
  width: 100%;
  grid-column: 1 / 3;
}
.social-media-container{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 3;
  background-color: orange;
  margin: auto;
  height: 100%;
  width: 100%;
}


