html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 17%;
  padding: 0;
  background-color: #1f1f1f;
  color: #f1f1f1;
}


.overview-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  border: solid 2px #fff;
  align-items: center;
  gap: 2rem;
  min-width: 85rem;
  overflow: hidden;
}

.image-gallery-container {
  overflow: hidden;
  height: 45rem;
  width: 55rem;
}

.preferences-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  height: 30%;
  width: 100%;
}

.styles-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 30%;
  width: 100%;

}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;

}

.product-slogan-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 100%;
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-left: 2px solid #fff;
  height: 100%;
  color: #fff;
  /* margin: 0; */
  padding-left: 2rem;
}

.social-media-container {
  grid-column: 1 / 3;
}