.product-info-reviews-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.price-container {
  display: flex;
  gap: 3rem;
}

.product-category {
  margin-left: 2rem;
  font-size: 1.4rem;
  border-bottom: 1px solid #fff;
}

.price {
  color: #fff;
}

.price-sale {
  color: red;
}

.product-name {
  margin: 0;
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 1px;
  word-wrap: normal;
}

.slashed {
  text-decoration: line-through;
}

.category {
  margin: 0 0 1rem 0;
}